<form class="{{cssClass}} flexcol" autocomplete="off">
    {{ log cssClass }}
    {{!-- Sheet Header --}}
    {{> "systems/renaissance/templates/actor/parts/character-header.html"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="stats">Stats</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="weapons">Weapons</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="spells">Spells</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Main Tab --}}    
        <div class="tab main" data-group="primary" data-tab="main">
          {{> "systems/renaissance/templates/actor/parts/character-summary.html"}}
        </div>
        
        {{!-- Stats Tab --}}
        <div class="tab biography" data-group="primary" data-tab="stats">
          {{> "systems/renaissance/templates/actor/parts/character-stats.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          {{> "systems/renaissance/templates/actor/parts/character-biography.html"}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
          {{> "systems/renaissance/templates/actor/parts/character-item-list.html"}}
        </div>

        {{!-- Owned Weapons Tab --}}
        <div class="tab items" data-group="primary" data-tab="weapons">
          {{> "systems/renaissance/templates/actor/parts/character-weapon-list.html"}}
        </div>

        {{!-- Owned Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
          {{> "systems/renaissance/templates/actor/parts/character-skill-list.html"}}
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
          {{> "systems/renaissance/templates/actor/parts/character-spell-list.html"}}
        </div>
    </section>
</form>

